html,body {
    height: 100%;
    background-color:#ffffff;
}
/*visibility: hidden;*/

body {
    background-image:url('./imagenes/fondoLogin.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;

}

.grid-checkbox td {
        padding: .5rem;
    }

#header{
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-size:220%;
    height: 10%;
    background: #990000 linear-gradient(to right, white 20%, #990000 30% );
}

#header_logo{
    background-color:white;
    height: 100%;
    float:left;
    display:inline;
}

#header_text{
    color: white;
}

.text,h1,h2,h3 {
    color:black;
    font-family:sans-serif;
}

.box_container {
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    width: 40%;
    height: 0%;
    background-color: #939dd9;
    position: relative;
    top: 20%;
    display:grid;
    grid-template-rows:auto;
    border-radius: 20px;
}

.button {
    color:#ffffff;
    background-color:#990000;
    width:50%;
    height:50%;
    font-size:120%;
    margin: auto;
}

.menu {
    margin: auto;
    height: 100%;
    width: 30%;
}

#agregarRecursosBox{
    width: 40%;
    height: 90%;
    top: 5%;
}

.container{
    margin :auto;
    width: 80%;
}

#sub_box_container{
    margin: auto;
    box-sizing: content-box;
    width: 40%;
    background-color:#b8c3ff;
    position: relative;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    border-radius: 20px
}

.inputBox{
    margin: auto;
    width: 60%;
    height: 60%;
}


